:root {
  --color-bg-1: #14213d;
  --color-bg-2: #118ab2;
  --color-primary-1: #06d6a0;
  --color-primary-2: #ffd166;
  --color-primary-3: #ee3560;
  --color-secondary-1: #2ec4b6;
  --color-secondary-2: #f7b801;
  --color-secondary-3: #3d348b;
  --color-white: #edf2f4;
  --color-gray: #8d99ae;
  --color-black: #000814;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Wix Madefor Display", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  background-color: var(--color-secondary-3);
  font-size: 1.4rem;
  font-weight: 600;
  color: #06d6a0;
  border: 2px solid #06d6a0;
  text-transform: capitalize;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 8, 20, 0.1450980392);
  cursor: pointer;
  transition: all 0.3s;
}

h1 {
  font-size: 4.8rem;
  color: var(--color-secondary-2);
  letter-spacing: -2px;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
  color: var(--color-secondary-2);
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 1;
}

h3 {
  font-size: 2.1rem;
  color: var(--color-secondary-2);
  font-weight: 600;
  line-height: 1;
}

h4 {
  font-size: 1.8rem;
  color: var(--color-secondary-2);
  font-weight: 800;
  line-height: 1.5;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

.container {
  width: 100%;
  padding: 0 1vw;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.app {
  width: 70%;
  max-width: 45rem;
  height: min-content;
  max-height: 60rem;
  background-color: var(--color-secondary-3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.head {
  width: 100%;
  height: min-content;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-gray);
}

.body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: min-content;
  align-self: stretch;
}
.body__menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.body__menu .menu__title {
  align-self: center;
  margin-bottom: 2rem;
}
.body__menu .menu__buttons {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  gap: 1rem;
}
.body__menu .menu__btn--start:hover,
.body__menu .menu__btn--info:hover {
  background-color: var(--color-secondary-2);
  color: #14213d;
  border: 2px solid var(--color-secondary-2);
}
.body__menu .menu__btn--start i,
.body__menu .menu__btn--info i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  font-size: 1.8rem;
}
.body__menu .rules {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
.body__menu .rules__item {
  font-size: 1.6rem;
  color: var(--color-white);
}
.body__menu .rules__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body__quiz {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.body__quiz .quiz__question {
  margin-bottom: 4rem;
  line-height: 1.5;
  align-self: flex-start;
}
.body__quiz .option-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.body__quiz .option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem;
  border: 2px solid var(--color-bg-2);
  border-radius: 1rem;
  color: #118ab2;
  transition: all 0.3s;
  background-color: var(--color-bg-1);
  cursor: pointer;
}
.body__quiz .option:hover {
  border: 2px solid var(--color-primary-1);
  color: var(--color-secondary-1);
}
.body__quiz .quiz__footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body__quiz .quiz__footer .timer {
  font-size: 1.6rem;
  color: var(--color-secondary-1);
  font-weight: 600;
}
.body__quiz .quiz__footer .btn:hover {
  background-color: var(--color-secondary-2);
  color: var(--color-secondary-3);
  border: 2px solid var(--color-secondary-2);
}
.body__result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.body__result .result__title {
  align-self: center;
}
.body__result .result__trophy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}
.body__result .result__trophy i {
  font-size: 10rem;
  color: var(--color-white);
}
.body__result .result__score {
  color: var(--color-white);
  margin: 2rem 0;
  font-size: 1.6rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.body__result .result__score b {
  font-size: 3rem;
  color: var(--color-secondary-2);
  padding: 0.5rem;
}
.body__result .result__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
}
.body__result .result__footer .btn:nth-child(1) {
  background-color: var(--color-secondary-1);
  color: var(--color-secondary-3);
  border: 2px solid var(--color-secondary-1);
}
.body__result .result__footer .btn {
  gap: 1rem;
}
.body__result .result__footer .btn:hover {
  background-color: var(--color-secondary-2);
  color: var(--color-secondary-3);
  border: 2px solid var(--color-secondary-2);
}
.body__result .result__footer .btn i {
  font-size: 1.8rem;
}
.body-style {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.body-style::-webkit-scrollbar {
  background-color: var(--color-gray);
  width: 5px;
}
.body-style::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1);
}

.footer {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer__btn--startover:hover, .footer__btn--result:hover {
  background-color: var(--color-secondary-2);
  color: #14213d;
}
.footer__btn--startover i, .footer__btn--result i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.display {
  display: flex;
  animation: opacityInOut 1s alternate;
}

.no-display {
  display: none;
  animation: opacityInOut 1s backwards;
}

.deactive {
  border: 2px solid var(--color-gray);
  color: var(--color-white);
  opacity: 75%;
  cursor: not-allowed !important;
  filter: contrast(70%);
}
.deactive:hover {
  border: 2px solid var(--color-bg-2) !important;
  color: var(--color-bg-2) !important;
}

.correct {
  background-color: var(--color-primary-1) !important;
  color: var(--color-bg-1) !important;
}

.wrong {
  background-color: var(--color-primary-3) !important;
  color: var(--color-bg-1) !important;
  border: 2px solid var(--color-primary-3) !important;
}

.correct-tag {
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--color-secondary-3);
  color: var(--color-primary-1);
}

.wrong-tag {
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: var(--color-secondary-3);
  color: var(--color-primary-3);
}

@keyframes opacityInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
