:root {
  --color-bg-1: #14213d;
  --color-bg-2: #118ab2;
  --color-primary-1: #06d6a0;
  --color-primary-2: #ffd166;
  --color-primary-3: #ee3560;

  --color-secondary-1: #2ec4b6;
  --color-secondary-2: #f7b801;
  --color-secondary-3: #3d348b;
  --color-white: #edf2f4;
  --color-gray: #8d99ae;
  --color-black: #000814;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // font-size: calc(0.2vw + 0.1vh + 1vmin);
  font-family: "Wix Madefor Display", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background-color: var(--color-secondary-3);
  font-size: 1.4rem;
  font-weight: 600;
  color: #06d6a0;
  border: 2px solid #06d6a0;
  text-transform: capitalize;
  box-shadow: 0 0.2rem 0.5rem #00081425;
  cursor: pointer;
  transition: all 0.3s;
}

h1 {
  font-size: 4.8rem;
  color: var(--color-secondary-2);
  letter-spacing: -2px;
  font-weight: 800;
  line-height: 1;
}
h2 {
  font-size: 3.2rem;
  color: var(--color-secondary-2);
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 1;
}

h3 {
  font-size: 2.1rem;
  color: var(--color-secondary-2);
  font-weight: 600;
  line-height: 1;
}
h4 {
  font-size: 1.8rem;
  color: var(--color-secondary-2);
  font-weight: 800;
  line-height: 1.5;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
// !--------------------------------------------//
.container {
  width: 100%;
  padding: 0 1vw;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
// !--------------------------------------------//

.app {
  width: 75%;
  max-width: 50rem;
  height: min-content;
  background-color: var(--color-secondary-3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
// !--------------------------------------------//

// !Head Section ---------------------------------------------//
.head {
  width: 100%;
  height: min-content;
  padding: 2rem;
  // border: 2px dotted green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-gray);
}

// !Body Section---------------------------------------------//
.body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: min-content;
  align-self: stretch;

  &__menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    // gap: 1rem;

    .menu__title {
      align-self: center;
      margin-bottom: 1rem;
    }
    .menu__buttons {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;

      gap: 1rem;
    }
    .menu__btn--start,
    .menu__btn--info {
      &:hover {
        background-color: var(--color-secondary-2);
        color: #14213d;
        border: 2px solid var(--color-secondary-2);
      }
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        font-size: 1.8rem;
      }
    }
    .rules {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      margin-bottom: 1rem;
      &__item {
        font-size: 1.6rem;
        color: var(--color-white);
        text-align: left;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__quiz {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .quiz__question {
      margin-bottom: 4rem;
      line-height: 1.5;
    }
    .option-container {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 1.5rem;
      border: 2px solid var(--color-bg-2);
      border-radius: 1rem;
      color: #118ab2;
      transition: all 0.3s;
      background-color: var(--color-bg-1);
      cursor: pointer;
      &:hover {
        border: 2px solid var(--color-primary-1);
        color: var(--color-secondary-1);
      }
    }

    .footer {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .timer {
        font-size: 1.6rem;
        color: var(--color-secondary-1);
        font-weight: 600;
      }
      .btn {
        &:hover {
          background-color: var(--color-secondary-2);
          color: var(--color-secondary-3);
          border: 2px solid var(--color-secondary-2);
        }
      }
    }
  }

  &__result {
  }

  &__detail {
  }
}

.body-style {
  width: 100%;
  height: auto;
  padding: 2rem;

  &::-webkit-scrollbar {
    background-color: var(--color-gray);
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-1);
  }
}

// !Footer Section-------------------------------------------//
.footer {
  width: 100%;
  height: min-content;
  // padding: 2rem;
  // border: 2px dotted green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  // border-top: 2px solid var(--color-gray);

  &__btn--startover,
  &__btn--result {
    &:hover {
      background-color: var(--color-secondary-2);
      color: #14213d;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      font-size: 1.8rem;
    }
  }
}

// !function classes--------------------------------------//
.display {
  display: flex;
  animation: opacityInOut 1s alternate;
}

.no-display {
  display: none;
  animation: opacityInOut 1s backwards;
}

.deactive {
  border: 2px solid var(--color-gray);
  color: var(--color-white);
  opacity: 75%;
  cursor: not-allowed !important;
  filter: contrast(70%);
  &:hover {
    border: 2px solid var(--color-bg-2) !important;
    color: var(--color-bg-2) !important;
  }
}

.correct {
  background-color: var(--color-primary-1) !important;
  color: var(--color-bg-1) !important;
  border: var(--color-primary-1) !important;
}

.wrong {
  background-color: var(--color-primary-3) !important;
  color: var(--color-bg-1) !important;
  border: var(--color-primary-3) !important;
}
// !Animation--------------------------------------------//
@keyframes opacityInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
